@charset "UTF-8";
body {
  padding-top: 50px;
  font-family: 'Heebo', sans-serif; }

.logo {
  width: 160px; }

.review-password, .review-confirm-password {
  cursor: default; }

textarea, input {
  border-radius: 10px !important;
  outline: none; }

.bg-red {
  background-color: red !important; }

div.chose-file, a.btn-file {
  cursor: pointer;
  height: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  border-radius: 10px;
  margin: 1rem !important;
  font-size: 20px; }

div.chose-file {
  color: white;
  min-width: 250px;
  max-width: 500px;
  background-color: #ffd800;
  overflow: hidden;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3); }
  div.chose-file label {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    cursor: pointer; }

.file-selcted {
  font-size: 16px !important;
  background-color: #33ff33 !important; }

.embed-file {
  max-width: 100%;
  display: inline-block;
  border: 1px solid black; }

.chosen-container, .chosen {
  max-width: 200px;
  font-size: 17px; }

div#reqStatuses > div:nth-child(odd) {
  background-color: #ddd; }

/** reqScholarship **/
#reqScholarship ul.nav a {
  color: #fff; }
  #reqScholarship ul.nav a .active {
    background-color: #fff;
    color: #000000; }

#reqScholarship div.tab-pane {
  padding: 40px; }

#reqScholarship div.tab-content h3 {
  font-size: 3rem;
  margin-bottom: 40px; }

#reqScholarship div.tab-content p {
  font-size: 1.2rem; }

#reqScholarship div.tab-content a.btn {
  font-size: 1.6rem;
  margin-top: 50px;
  transition: 0.5s; }
  #reqScholarship div.tab-content a.btn:hover {
    font-size: 1.9rem;
    background-color: #fff;
    color: var(--primary);
    border: 1px solid var(--primary); }

#reqScholarship div.tab-content p:nth-child(2):before {
  content: "תמצית: "; }

#reqScholarship div.tab-content p:nth-child(3):before {
  content: "גובה מלגה: "; }

/*Halaca form*/
#halaca-container .chosen-container {
  max-width: 100%; }

/*Socio*/
#otherMili {
  background-color: transparent;
  border: none; }

div#FamFinDet {
  margin-bottom: 50px; }

#Funding, #cardiv, #Studfindiv, .FamFinDet, #FamMemdiv {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px; }
  #Funding div.funds, #Funding div.cars, #Funding div.studfin, #Funding div.fammfin, #Funding div.fam, #cardiv div.funds, #cardiv div.cars, #cardiv div.studfin, #cardiv div.fammfin, #cardiv div.fam, #Studfindiv div.funds, #Studfindiv div.cars, #Studfindiv div.studfin, #Studfindiv div.fammfin, #Studfindiv div.fam, .FamFinDet div.funds, .FamFinDet div.cars, .FamFinDet div.studfin, .FamFinDet div.fammfin, .FamFinDet div.fam, #FamMemdiv div.funds, #FamMemdiv div.cars, #FamMemdiv div.studfin, #FamMemdiv div.fammfin, #FamMemdiv div.fam {
    background-color: #f5f5ba;
    position: relative;
    height: 550px;
    padding: 20px 10px; }
    #Funding div.funds input, #Funding div.cars input, #Funding div.studfin input, #Funding div.fammfin input, #Funding div.fam input, #cardiv div.funds input, #cardiv div.cars input, #cardiv div.studfin input, #cardiv div.fammfin input, #cardiv div.fam input, #Studfindiv div.funds input, #Studfindiv div.cars input, #Studfindiv div.studfin input, #Studfindiv div.fammfin input, #Studfindiv div.fam input, .FamFinDet div.funds input, .FamFinDet div.cars input, .FamFinDet div.studfin input, .FamFinDet div.fammfin input, .FamFinDet div.fam input, #FamMemdiv div.funds input, #FamMemdiv div.cars input, #FamMemdiv div.studfin input, #FamMemdiv div.fammfin input, #FamMemdiv div.fam input {
      width: 90%;
      display: block;
      background: transparent;
      border: 0px;
      border-bottom: 2px solid #626249;
      border-radius: 0px !important;
      margin: 5px auto; }
      #Funding div.funds input:focus, #Funding div.cars input:focus, #Funding div.studfin input:focus, #Funding div.fammfin input:focus, #Funding div.fam input:focus, #cardiv div.funds input:focus, #cardiv div.cars input:focus, #cardiv div.studfin input:focus, #cardiv div.fammfin input:focus, #cardiv div.fam input:focus, #Studfindiv div.funds input:focus, #Studfindiv div.cars input:focus, #Studfindiv div.studfin input:focus, #Studfindiv div.fammfin input:focus, #Studfindiv div.fam input:focus, .FamFinDet div.funds input:focus, .FamFinDet div.cars input:focus, .FamFinDet div.studfin input:focus, .FamFinDet div.fammfin input:focus, .FamFinDet div.fam input:focus, #FamMemdiv div.funds input:focus, #FamMemdiv div.cars input:focus, #FamMemdiv div.studfin input:focus, #FamMemdiv div.fammfin input:focus, #FamMemdiv div.fam input:focus {
        outline: 0px; }
    #Funding div.funds ::placeholder, #Funding div.cars ::placeholder, #Funding div.studfin ::placeholder, #Funding div.fammfin ::placeholder, #Funding div.fam ::placeholder, #cardiv div.funds ::placeholder, #cardiv div.cars ::placeholder, #cardiv div.studfin ::placeholder, #cardiv div.fammfin ::placeholder, #cardiv div.fam ::placeholder, #Studfindiv div.funds ::placeholder, #Studfindiv div.cars ::placeholder, #Studfindiv div.studfin ::placeholder, #Studfindiv div.fammfin ::placeholder, #Studfindiv div.fam ::placeholder, .FamFinDet div.funds ::placeholder, .FamFinDet div.cars ::placeholder, .FamFinDet div.studfin ::placeholder, .FamFinDet div.fammfin ::placeholder, .FamFinDet div.fam ::placeholder, #FamMemdiv div.funds ::placeholder, #FamMemdiv div.cars ::placeholder, #FamMemdiv div.studfin ::placeholder, #FamMemdiv div.fammfin ::placeholder, #FamMemdiv div.fam ::placeholder {
      color: #f5f5ba; }
    #Funding div.funds .title, #Funding div.cars .title, #Funding div.studfin .title, #Funding div.fammfin .title, #Funding div.fam .title, #cardiv div.funds .title, #cardiv div.cars .title, #cardiv div.studfin .title, #cardiv div.fammfin .title, #cardiv div.fam .title, #Studfindiv div.funds .title, #Studfindiv div.cars .title, #Studfindiv div.studfin .title, #Studfindiv div.fammfin .title, #Studfindiv div.fam .title, .FamFinDet div.funds .title, .FamFinDet div.cars .title, .FamFinDet div.studfin .title, .FamFinDet div.fammfin .title, .FamFinDet div.fam .title, #FamMemdiv div.funds .title, #FamMemdiv div.cars .title, #FamMemdiv div.studfin .title, #FamMemdiv div.fammfin .title, #FamMemdiv div.fam .title {
      margin-bottom: 0px; }
    #Funding div.funds div.half-row, #Funding div.cars div.half-row, #Funding div.studfin div.half-row, #Funding div.fammfin div.half-row, #Funding div.fam div.half-row, #cardiv div.funds div.half-row, #cardiv div.cars div.half-row, #cardiv div.studfin div.half-row, #cardiv div.fammfin div.half-row, #cardiv div.fam div.half-row, #Studfindiv div.funds div.half-row, #Studfindiv div.cars div.half-row, #Studfindiv div.studfin div.half-row, #Studfindiv div.fammfin div.half-row, #Studfindiv div.fam div.half-row, .FamFinDet div.funds div.half-row, .FamFinDet div.cars div.half-row, .FamFinDet div.studfin div.half-row, .FamFinDet div.fammfin div.half-row, .FamFinDet div.fam div.half-row, #FamMemdiv div.funds div.half-row, #FamMemdiv div.cars div.half-row, #FamMemdiv div.studfin div.half-row, #FamMemdiv div.fammfin div.half-row, #FamMemdiv div.fam div.half-row {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 5px; }
      #Funding div.funds div.half-row div.chose-file, #Funding div.cars div.half-row div.chose-file, #Funding div.studfin div.half-row div.chose-file, #Funding div.fammfin div.half-row div.chose-file, #Funding div.fam div.half-row div.chose-file, #cardiv div.funds div.half-row div.chose-file, #cardiv div.cars div.half-row div.chose-file, #cardiv div.studfin div.half-row div.chose-file, #cardiv div.fammfin div.half-row div.chose-file, #cardiv div.fam div.half-row div.chose-file, #Studfindiv div.funds div.half-row div.chose-file, #Studfindiv div.cars div.half-row div.chose-file, #Studfindiv div.studfin div.half-row div.chose-file, #Studfindiv div.fammfin div.half-row div.chose-file, #Studfindiv div.fam div.half-row div.chose-file, .FamFinDet div.funds div.half-row div.chose-file, .FamFinDet div.cars div.half-row div.chose-file, .FamFinDet div.studfin div.half-row div.chose-file, .FamFinDet div.fammfin div.half-row div.chose-file, .FamFinDet div.fam div.half-row div.chose-file, #FamMemdiv div.funds div.half-row div.chose-file, #FamMemdiv div.cars div.half-row div.chose-file, #FamMemdiv div.studfin div.half-row div.chose-file, #FamMemdiv div.fammfin div.half-row div.chose-file, #FamMemdiv div.fam div.half-row div.chose-file {
        min-width: 210px;
        max-width: 210px;
        width: 210px; }
    #Funding div.funds div.half-row-file, #Funding div.cars div.half-row-file, #Funding div.studfin div.half-row-file, #Funding div.fammfin div.half-row-file, #Funding div.fam div.half-row-file, #cardiv div.funds div.half-row-file, #cardiv div.cars div.half-row-file, #cardiv div.studfin div.half-row-file, #cardiv div.fammfin div.half-row-file, #cardiv div.fam div.half-row-file, #Studfindiv div.funds div.half-row-file, #Studfindiv div.cars div.half-row-file, #Studfindiv div.studfin div.half-row-file, #Studfindiv div.fammfin div.half-row-file, #Studfindiv div.fam div.half-row-file, .FamFinDet div.funds div.half-row-file, .FamFinDet div.cars div.half-row-file, .FamFinDet div.studfin div.half-row-file, .FamFinDet div.fammfin div.half-row-file, .FamFinDet div.fam div.half-row-file, #FamMemdiv div.funds div.half-row-file, #FamMemdiv div.cars div.half-row-file, #FamMemdiv div.studfin div.half-row-file, #FamMemdiv div.fammfin div.half-row-file, #FamMemdiv div.fam div.half-row-file {
      display: grid;
      grid-template-columns: 40% 60%;
      grid-gap: 5px; }
    #Funding div.funds div.form-row, #Funding div.cars div.form-row, #Funding div.studfin div.form-row, #Funding div.fammfin div.form-row, #Funding div.fam div.form-row, #cardiv div.funds div.form-row, #cardiv div.cars div.form-row, #cardiv div.studfin div.form-row, #cardiv div.fammfin div.form-row, #cardiv div.fam div.form-row, #Studfindiv div.funds div.form-row, #Studfindiv div.cars div.form-row, #Studfindiv div.studfin div.form-row, #Studfindiv div.fammfin div.form-row, #Studfindiv div.fam div.form-row, .FamFinDet div.funds div.form-row, .FamFinDet div.cars div.form-row, .FamFinDet div.studfin div.form-row, .FamFinDet div.fammfin div.form-row, .FamFinDet div.fam div.form-row, #FamMemdiv div.funds div.form-row, #FamMemdiv div.cars div.form-row, #FamMemdiv div.studfin div.form-row, #FamMemdiv div.fammfin div.form-row, #FamMemdiv div.fam div.form-row {
      position: relative;
      margin: 15px 0;
      padding-top: 10px; }
      #Funding div.funds div.form-row .title, #Funding div.cars div.form-row .title, #Funding div.studfin div.form-row .title, #Funding div.fammfin div.form-row .title, #Funding div.fam div.form-row .title, #cardiv div.funds div.form-row .title, #cardiv div.cars div.form-row .title, #cardiv div.studfin div.form-row .title, #cardiv div.fammfin div.form-row .title, #cardiv div.fam div.form-row .title, #Studfindiv div.funds div.form-row .title, #Studfindiv div.cars div.form-row .title, #Studfindiv div.studfin div.form-row .title, #Studfindiv div.fammfin div.form-row .title, #Studfindiv div.fam div.form-row .title, .FamFinDet div.funds div.form-row .title, .FamFinDet div.cars div.form-row .title, .FamFinDet div.studfin div.form-row .title, .FamFinDet div.fammfin div.form-row .title, .FamFinDet div.fam div.form-row .title, #FamMemdiv div.funds div.form-row .title, #FamMemdiv div.cars div.form-row .title, #FamMemdiv div.studfin div.form-row .title, #FamMemdiv div.fammfin div.form-row .title, #FamMemdiv div.fam div.form-row .title {
        position: absolute;
        top: 10px;
        pointer-events: none;
        right: 5%;
        color: #000;
        transition: .5s; }
      #Funding div.funds div.form-row input:focus ~ .title, #Funding div.funds div.form-row input:not(:placeholder-shown) ~ .title, #Funding div.cars div.form-row input:focus ~ .title, #Funding div.cars div.form-row input:not(:placeholder-shown) ~ .title, #Funding div.studfin div.form-row input:focus ~ .title, #Funding div.studfin div.form-row input:not(:placeholder-shown) ~ .title, #Funding div.fammfin div.form-row input:focus ~ .title, #Funding div.fammfin div.form-row input:not(:placeholder-shown) ~ .title, #Funding div.fam div.form-row input:focus ~ .title, #Funding div.fam div.form-row input:not(:placeholder-shown) ~ .title, #cardiv div.funds div.form-row input:focus ~ .title, #cardiv div.funds div.form-row input:not(:placeholder-shown) ~ .title, #cardiv div.cars div.form-row input:focus ~ .title, #cardiv div.cars div.form-row input:not(:placeholder-shown) ~ .title, #cardiv div.studfin div.form-row input:focus ~ .title, #cardiv div.studfin div.form-row input:not(:placeholder-shown) ~ .title, #cardiv div.fammfin div.form-row input:focus ~ .title, #cardiv div.fammfin div.form-row input:not(:placeholder-shown) ~ .title, #cardiv div.fam div.form-row input:focus ~ .title, #cardiv div.fam div.form-row input:not(:placeholder-shown) ~ .title, #Studfindiv div.funds div.form-row input:focus ~ .title, #Studfindiv div.funds div.form-row input:not(:placeholder-shown) ~ .title, #Studfindiv div.cars div.form-row input:focus ~ .title, #Studfindiv div.cars div.form-row input:not(:placeholder-shown) ~ .title, #Studfindiv div.studfin div.form-row input:focus ~ .title, #Studfindiv div.studfin div.form-row input:not(:placeholder-shown) ~ .title, #Studfindiv div.fammfin div.form-row input:focus ~ .title, #Studfindiv div.fammfin div.form-row input:not(:placeholder-shown) ~ .title, #Studfindiv div.fam div.form-row input:focus ~ .title, #Studfindiv div.fam div.form-row input:not(:placeholder-shown) ~ .title, .FamFinDet div.funds div.form-row input:focus ~ .title, .FamFinDet div.funds div.form-row input:not(:placeholder-shown) ~ .title, .FamFinDet div.cars div.form-row input:focus ~ .title, .FamFinDet div.cars div.form-row input:not(:placeholder-shown) ~ .title, .FamFinDet div.studfin div.form-row input:focus ~ .title, .FamFinDet div.studfin div.form-row input:not(:placeholder-shown) ~ .title, .FamFinDet div.fammfin div.form-row input:focus ~ .title, .FamFinDet div.fammfin div.form-row input:not(:placeholder-shown) ~ .title, .FamFinDet div.fam div.form-row input:focus ~ .title, .FamFinDet div.fam div.form-row input:not(:placeholder-shown) ~ .title, #FamMemdiv div.funds div.form-row input:focus ~ .title, #FamMemdiv div.funds div.form-row input:not(:placeholder-shown) ~ .title, #FamMemdiv div.cars div.form-row input:focus ~ .title, #FamMemdiv div.cars div.form-row input:not(:placeholder-shown) ~ .title, #FamMemdiv div.studfin div.form-row input:focus ~ .title, #FamMemdiv div.studfin div.form-row input:not(:placeholder-shown) ~ .title, #FamMemdiv div.fammfin div.form-row input:focus ~ .title, #FamMemdiv div.fammfin div.form-row input:not(:placeholder-shown) ~ .title, #FamMemdiv div.fam div.form-row input:focus ~ .title, #FamMemdiv div.fam div.form-row input:not(:placeholder-shown) ~ .title {
        top: -10px; }
    #Funding div.funds .del-fund, #Funding div.funds .del-car, #Funding div.funds .del-fammem, #Funding div.cars .del-fund, #Funding div.cars .del-car, #Funding div.cars .del-fammem, #Funding div.studfin .del-fund, #Funding div.studfin .del-car, #Funding div.studfin .del-fammem, #Funding div.fammfin .del-fund, #Funding div.fammfin .del-car, #Funding div.fammfin .del-fammem, #Funding div.fam .del-fund, #Funding div.fam .del-car, #Funding div.fam .del-fammem, #cardiv div.funds .del-fund, #cardiv div.funds .del-car, #cardiv div.funds .del-fammem, #cardiv div.cars .del-fund, #cardiv div.cars .del-car, #cardiv div.cars .del-fammem, #cardiv div.studfin .del-fund, #cardiv div.studfin .del-car, #cardiv div.studfin .del-fammem, #cardiv div.fammfin .del-fund, #cardiv div.fammfin .del-car, #cardiv div.fammfin .del-fammem, #cardiv div.fam .del-fund, #cardiv div.fam .del-car, #cardiv div.fam .del-fammem, #Studfindiv div.funds .del-fund, #Studfindiv div.funds .del-car, #Studfindiv div.funds .del-fammem, #Studfindiv div.cars .del-fund, #Studfindiv div.cars .del-car, #Studfindiv div.cars .del-fammem, #Studfindiv div.studfin .del-fund, #Studfindiv div.studfin .del-car, #Studfindiv div.studfin .del-fammem, #Studfindiv div.fammfin .del-fund, #Studfindiv div.fammfin .del-car, #Studfindiv div.fammfin .del-fammem, #Studfindiv div.fam .del-fund, #Studfindiv div.fam .del-car, #Studfindiv div.fam .del-fammem, .FamFinDet div.funds .del-fund, .FamFinDet div.funds .del-car, .FamFinDet div.funds .del-fammem, .FamFinDet div.cars .del-fund, .FamFinDet div.cars .del-car, .FamFinDet div.cars .del-fammem, .FamFinDet div.studfin .del-fund, .FamFinDet div.studfin .del-car, .FamFinDet div.studfin .del-fammem, .FamFinDet div.fammfin .del-fund, .FamFinDet div.fammfin .del-car, .FamFinDet div.fammfin .del-fammem, .FamFinDet div.fam .del-fund, .FamFinDet div.fam .del-car, .FamFinDet div.fam .del-fammem, #FamMemdiv div.funds .del-fund, #FamMemdiv div.funds .del-car, #FamMemdiv div.funds .del-fammem, #FamMemdiv div.cars .del-fund, #FamMemdiv div.cars .del-car, #FamMemdiv div.cars .del-fammem, #FamMemdiv div.studfin .del-fund, #FamMemdiv div.studfin .del-car, #FamMemdiv div.studfin .del-fammem, #FamMemdiv div.fammfin .del-fund, #FamMemdiv div.fammfin .del-car, #FamMemdiv div.fammfin .del-fammem, #FamMemdiv div.fam .del-fund, #FamMemdiv div.fam .del-car, #FamMemdiv div.fam .del-fammem {
      position: absolute;
      top: 90%;
      width: 90%;
      right: 5%; }
    #Funding div.funds .chose-file, #Funding div.cars .chose-file, #Funding div.studfin .chose-file, #Funding div.fammfin .chose-file, #Funding div.fam .chose-file, #cardiv div.funds .chose-file, #cardiv div.cars .chose-file, #cardiv div.studfin .chose-file, #cardiv div.fammfin .chose-file, #cardiv div.fam .chose-file, #Studfindiv div.funds .chose-file, #Studfindiv div.cars .chose-file, #Studfindiv div.studfin .chose-file, #Studfindiv div.fammfin .chose-file, #Studfindiv div.fam .chose-file, .FamFinDet div.funds .chose-file, .FamFinDet div.cars .chose-file, .FamFinDet div.studfin .chose-file, .FamFinDet div.fammfin .chose-file, .FamFinDet div.fam .chose-file, #FamMemdiv div.funds .chose-file, #FamMemdiv div.cars .chose-file, #FamMemdiv div.studfin .chose-file, #FamMemdiv div.fammfin .chose-file, #FamMemdiv div.fam .chose-file {
      width: 90%;
      margin: 10px auto; }

#cardiv div.cars, #cardiv div.fam, #FamMemdiv div.cars, #FamMemdiv div.fam {
  height: 745px !important; }

#Studfindiv, .FamFinDet {
  grid-template-columns: repeat(3, 1fr); }

/****Dikan******/
section#volunteer .mrow {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px; }

section#volunteer input, section#volunteer textarea {
  outline: none;
  padding: 3px 10px; }

section#volunteer ul {
  list-style-type: none;
  padding: 0; }
  section#volunteer ul li {
    display: grid;
    grid-template-columns: 150px 2fr 0.7fr;
    grid-gap: 10px;
    margin: 10px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    padding: 5px;
    text-align: center; }
    section#volunteer ul li:hover {
      border-bottom: 1px solid black; }
    section#volunteer ul li .actions {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 10px; }
  section#volunteer ul li.title {
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    cursor: default; }
  section#volunteer ul div.edit {
    grid-column-start: 1;
    grid-column-end: 5;
    display: grid;
    grid-template-columns: 20% 70% auto;
    grid-gap: 10px;
    display: none; }
  section#volunteer ul input[data-toggle='edit'] {
    background-color: #fff;
    border: 1px solid black; }
  section#volunteer ul .row-data:focus {
    background-color: #ddd;
    padding: 3px 8px;
    border-radius: 7px;
    outline: none; }

@media (max-width: 768px) {
  #reqScholarship {
    max-width: 100%; } }

@media (max-width: 740px) {
  #reqScholarship .nav {
    display: block; } }

@media (max-width: 480px) {
  h1.stu-name {
    font-size: 2.0rem; }
  #reqScholarship div.tab-pane {
    padding: 0px; }
  #reqScholarship div.tab-content h3 {
    font-size: 2rem; }
  #reqScholarship div.tab-content p {
    font-size: 1.1rem; }
  #reqScholarship div.tab-content a.btn {
    font-size: 1.1rem; }
  div.chose-file {
    max-width: 150px;
    min-width: 150px; }
  #Funding, #cardiv, #Studfindiv, .FamFinDet, #FamMemdiv {
    grid-template-columns: repeat(1, 1fr) !important; } }
