body {
    padding-top: 50px;
    //max-width: 1128px;
    //margin: 0 auto;
    font-family: 'Heebo', sans-serif;
}

.logo{
    width:160px;
}


.review-password, .review-confirm-password {
    cursor: default;
}

textarea, input {
    border-radius: 10px !important;
    outline: none;

    &:focus {
        outline: none;
    }
}

.right-border-radius {
    border-radius: 0px 10px 10px 00px !important;
}
.left-border-radius {
    border-radius: 10px 0px 0px 10px !important;
}
.pointer{
    cursor:pointer;
}

.bg-red{
    background-color: red !important;
}

div.chose-file, a.btn-file {
    cursor: pointer;
    height: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    border-radius: 10px;
    margin: 1rem !important;
    font-size: 20px;
}

a.btn-file {

}
div.chose-file {
    color: white;
    min-width: 250px;
    max-width: 500px;
    background-color: #ffd800;
    overflow: hidden;
    box-shadow: 0px 5px 20px rgba(0,0,0,.3);

    label {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
}
.file-selcted {
    font-size: 16px !important;
    background-color: #33ff33 !important;
}

.embed-file {
    max-width: 100%;
    display: inline-block;
    border: 1px solid black;
}



.chosen-container, .chosen {
    max-width: 200px;
    font-size: 17px;
}

div#reqStatuses > div:nth-child(odd)
{
    background-color:#ddd;
}

/** reqScholarship **/
#reqScholarship {
    ul.nav {
        a {
            color: #fff;

            .active {
                background-color: #fff;
                color: #000000;
            }
        }
    }

    div.tab-pane {
        padding: 40px;
    }

    div.tab-content {
        h3 {
            font-size: 3rem;
            margin-bottom: 40px;
        }

        p {
            font-size: 1.2rem;
        }

        a.btn {
            font-size: 1.6rem;
            margin-top: 50px;
            transition: 0.5s;

            &:hover {
                font-size: 1.9rem;
                background-color: #fff;
                color: var(--primary);
                border: 1px solid var(--primary);
            }
        }
    }
}

#reqScholarship div.tab-content p:nth-child(2):before
{
    content: "פרטי מלגה: ";
}
#reqScholarship div.tab-content p:nth-child(3):before {
    content: "סכום מלגה: ";
}
#reqScholarship div.tab-content p:nth-child(4):before {
    content: "תאריך אחרון להגשה: ";
}

.money:after {
    content: " ₪ ";
}

/*Halaca form*/
#halaca-container {
    .chosen-container {
        max-width: 100%;
    }
}

/*Socio*/

#otherMili {
    background-color: transparent;
    border: none;
}

div#FamFinDet {
    margin-bottom: 50px;
}
#Funding, #cardiv, #Studfindiv, .FamFinDet, #FamMemdiv {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 5px;

    div.funds, div.cars, div.studfin, div.fammfin, div.fam {
        background-color: #f5f5ba;
        position: relative;
        height: 550px;
        padding: 20px 10px;

        input {
            width: 90%;
            display: block;
            background: transparent;
            border: 0px;
            border-bottom: 2px solid #626249;
            border-radius: 0px !important;
            margin: 5px auto;

            &:focus {
                outline: 0px;
            }
        }

        ::placeholder {
            color: #f5f5ba;
        }

        .title {
            margin-bottom: 0px;
            //margin-right: 5%;
        }

        div.half-row {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 5px;

            div.chose-file {
                min-width: 210px;
                max-width: 210px;
                width: 210px;
            }
        }

        div.half-row-file {
            display: grid;
            grid-template-columns: 40% 60%;
            grid-gap: 5px;
        }

        div.form-row {
            position: relative;
            margin: 15px 0;
            padding-top: 10px;

            .title {
                position: absolute;
                top: 10px;
                pointer-events: none;
                right: 5%;
                color: #000;
                transition: .5s;
            }

            input {
                &:focus, &:not(:placeholder-shown) {
                    ~ .title {
                        top: -10px;
                    }
                }
            }
        }

        .del-fund, .del-car, .del-fammem {
            position: absolute;
            top: 90%;
            width: 90%;
            right: 5%;
        }

        .chose-file {
            width: 90%;
            margin: 10px auto;
        }
    }
}
#cardiv, #FamMemdiv {
    div.cars, div.fam {
        height: 745px !important;
    }
}

#Studfindiv, .FamFinDet {
    grid-template-columns: repeat(3,1fr);
}

/****Dikan******/

section#volunteer {
    .mrow {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }

    input, textarea {
        outline: none;
        padding: 3px 10px;
    }

    ul {
        list-style-type: none;
        padding: 0;

        li {
            display: grid;
            grid-template-columns: 150px 2fr 0.7fr;
            grid-gap: 10px;
            margin: 10px 0px;
            border-bottom: 1px solid rgba(0,0,0,.5);
            padding: 5px;
            text-align: center;

            &:hover {
                border-bottom: 1px solid rgba(0,0,0,1);
            }

            .actions {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 10px;
            }
        }

        li.title {
            font-weight: bold;
            text-align: center;
            font-size: 20px;
            cursor: default;
        }

        div.edit {
            grid-column-start: 1;
            grid-column-end: 5;
            display: grid;
            grid-template-columns: 20% 70% auto;
            grid-gap: 10px;
            display: none;
        }

        input[data-toggle='edit'] {
            background-color: #fff;
            border: 1px solid black;
        }

        .row-data {
            &:focus {
                background-color: #ddd;
                padding: 3px 8px;
                border-radius: 7px;
                outline: none;
            }
        }
    }
}




@media (max-width: 768px) {
    #reqScholarship {
        max-width: 100%;
    }
}

    @media(max-width:740px) {
        #reqScholarship {
            .nav {
                display: block;
            }
        }
    }

    @media(max-width:480px) {
        h1.stu-name {
            font-size: 2.0rem;
        }

        #reqScholarship {
            div.tab-pane {
                padding: 0px;
            }

            div.tab-content {
                h3 {
                    font-size: 2rem;
                }

                p {
                    font-size: 1.1rem;
                }

                a.btn {
                    font-size: 1.1rem;
                }
            }
        }
        div.chose-file {
            max-width: 150px;
            min-width: 150px;
        }
        #Funding, #cardiv, #Studfindiv, .FamFinDet, #FamMemdiv {
            grid-template-columns: repeat(1,1fr) !important;
            }
        }


