@model IEnumerable<DataEntities.SpHalacha>
@using GridMvc.Html

@{
    ViewBag.Title = "מלגת הלכה למעשה";
    Layout = "~/Views/Dikan/_Layout.cshtml";
}

<h2>halachalist</h2>

<div style="width:500px;">
    @Html.Grid(Model).Columns(columns =>
                {
                    columns.Add(c => c.StudentId).Titled("תעודת זהות");
                    columns.Add(c => c.Student.FirstName).Titled("שם").Filterable(true);
                    columns.Add(c => c.SchoolYear).Titled("שנת לימוד");
                }).WithPaging(3).Sortable(true)
</div>