
@{
    Layout = "~/Views/Dikan/_Layout.cshtml";
    ViewBag.Title = "ממשק דיקאן";
    ViewBag.Message = "ברוכים הבאים לדיקאנט";
    ViewBag.ModelTitle = "שגיאה";
    ViewBag.ModelMessageBody = "תעודת זהות או סיסמא שגויים,<br/>אנא נסה שוב.";
}

<h2>Index</h2>

