<div class="bg-primary text-white mt-2 footer">
    <div class="float-right mr-4">
        @Html.ActionLink("דף הבית", "Login", "Login", null, new { @class = "text-white ml-5" })
        @Html.ActionLink("צור קשר", "Contact", "Login", null, new { @class = "text-white" })
    </div>
    <div class="text-left ml-4">
        &copy;  כל הזכויות שמורות לחברת R&R @DateTime.Now.Year
    </div>
</div>
