@{
    Layout = null;
}

<h1>רכבים</h1>

<div id="cars">
    <div class="__add_warpper">
        <input type="text" name="car_number" class="only-numbers" value="" placeholder="מספר רכב" />
        <input type="text" name="car_company" value="" placeholder="יצרן רכב" />
        <input type="text" name="car_model" value="" placeholder="דגם רכב" />
        <input type="text" name="car_year" maxlength="4" class="only-numbers" value="" placeholder="שנת ייצור" />
        <div>
            <button id="AddCar" class="btn btn-primary mt-3">הוסף</button>
        </div>
    </div>

    <div class="__list_warrper">
        <ul id="car_list" class="p-0 my-5">
            <li class="row d-flex flex-row mb-3">
                <div class="col d-flex flex-column ">
                    <span class="font-weight-bold">מספר רכב</span>
                    <span class="">בדיקה</span>
                </div>
                <div class="col d-flex flex-column ">
                    <span class="font-weight-bold">סכום מימון</span>
                    <span class="">1200</span>
                </div>
                <div class="col d-flex flex-column">
                    <span class="font-weight-bold">שנה</span>
                    <span class="">2020</span>
                </div>
            </li>
        </ul>
    </div>
</div>