
@{
    Layout = null;
}

    <div id="fund">
        <div class="__add_warpper">
            <input type="text" name="name_fund" value="" placeholder="שם גוף ממן" />
            <input type="number" min="0" name="height_fund" value="" placeholder="סכום מימון" />
            <input type="text" name="year_funding" maxlength="4" class="only-numbers" value="" placeholder="שנת מימון" />
            <input type="hidden" name="funding_id" class="only-numbers" value="0"/>
            <div>
                <button id="AddFund" class="btn btn-primary mt-3">הוסף</button>
            </div>
        </div>

        <div class="__list_warrper">
            <ul id="fund_list" class="p-0 my-5">
                <li class="row d-flex flex-row mb-3">
                    <div class="col d-flex flex-column ">
                        <span class="font-weight-bold">גוף ממן</span>
                        <span class="">בדיקה</span>
                    </div>
                    <div class="col d-flex flex-column ">
                        <span class="font-weight-bold">סכום מימון</span>
                        <span class="">1200</span>
                    </div>
                    <div class="col d-flex flex-column">
                        <span class="font-weight-bold">שנה</span>
                        <span class="">2020</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>